<div style="float: left; margin-right:5px;">
    <div style="font-size: 18px; height: 30px; text-align: center; display: table-cell; vertical-align:middle;">{{dropdownLabel}}</div>
</div>
<div  style="float: left; margin-right:10px; {{dropdownStyleWidth}};">
    <wj-combo-box
            ng-hide="false"
            ng-disabled="false"
            required="false"
            items-source="dropdownList"
            selected-item="dropdownSelected"
            is-editable="false"
            placeholder="Loading...">
    </wj-combo-box>
</div>

<div style="clear:both;"></div>