/* set default grid style */
.wj-flexgrid {
    /*height: 300px;*/
    width: auto;
    background-color: white;
    /*box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);*/
    margin-bottom: 12px;
}

.wijmo-wijgrid table thead
{
    display: none !important;
}


