.highlight-up {
    background-color: lightgreen;
    transition: background 200ms;
}
.highlight-down {
    background-color: lightcoral;
    transition: background 200ms;
}

.panel {
    margin-bottom: 0px;
}