.highlight-up {
    background-color: lightgreen;
    color: white;
    transition: background 2000ms;
}
.highlight-down {
    background-color: lightcoral;
    color: white;
    transition: background 2000ms;
}
.highlight-cob-up {
    color: green;
}
.highlight-cob-down {
    color: red;
}
.panel {
    margin-bottom: 0px;
}