.highlight-up {
    background-color: lightgreen;
    color: white !important;
    transition-property: background-color;
    transition-duration: 2s;
}
.highlight-down {
    background-color: lightcoral;
    color: white !important;
    transition-property: background-color;
    transition-duration: 2s;
}

.highlight-cob-up {
    color: green;
}
.highlight-cob-down {
    color: red;
}
.panel {
    margin-bottom: 0px;
}
