/* set default grid style */
.wj-flexgrid {
    /*height: 300px;*/
    width: auto;
    /*background-color: white;*/
    /*box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);*/
    margin-bottom: 12px;
}

.wijmo-wijgrid table thead
{
    display: none !important;
}

/* Basic Payup PoC Styling */

.main-page-container {
    margin: 10px;
}

.basic-float-container {
    float: left;
    margin-right: 5px;
}

.basic-float-cancel-container {
    clear:both;
    margin-bottom: 15px;
}

.btn-tab {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}