/* set default grid style */
.wj-flexgrid {
    /*height: 300px;*/
    width: auto;
    background-color: white;
    /*box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);*/
    margin-bottom: 12px;
}

.wijmo-wijgrid table thead
{
    display: none !important;
}

/*.styled-select select {*/
    /*!*background: transparent;*!*/
    /*width: 80px;*/
    /*padding: 5px;*/
    /*font-size: 16px;*/
    /*line-height: 1;*/
    /*margin: 5px;*/
    /*!*border: 1px;*!*/
    /*border-radius: 5px;*/
    /*height: 34px;*/
    /*-webkit-appearance: none;*/
/*}*/

/*.productDropDown {*/
    /*width: 120px;*/
/*}*/

/*.couponDropDown {*/
    /*width: 75px;*/
/*}*/

