<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>20115875</title>

    <script src="js/websocketconnection-a.js"   ></script>


    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" data-semver="1.3.15"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="js/data.js"></script>
    <script src="js/app.js"></script>

</head>

<body >

<div data-ng-controller="AppCtrl as ctrl" class="container" id="MainWrap">
    <div class="page-header">
        <h3>Angular js - Highlight dom when value changes</h3>
    </div>


    <div class="accordion" role="tab" id="headingOne">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class = "accordion-toggle" data-toggle="collapse" data-parent="#collapseOne" href="#collapseOne"  aria-controls="collapseOne">
                    Market
                </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Content
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapseTwo" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Cash
                </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    More Content
                </div>
            </div>
        </div>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>coupon</th>
            <th>Month 1</th>
            <th>Month 2</th>
            <th>Month 3</th>
            <th>Month 4</th>
        </tr>
        </thead>

        <tbody>
        <tr data-ng-repeat="prices in ctrl.productGrid track by $index">
            <td data-highlighter="prices">{{ prices.coupon | number:1 }}</td>
            <td data-highlighter="prices.cellMonth1">{{  prices.cellMonth1.currentPrice | number:6 }}</td>
            <td data-highlighter="prices.cellMonth2">{{  prices.cellMonth2.currentPrice | number:6 }}</td>
            <td data-highlighter="prices.cellMonth3">{{  prices.cellMonth3.currentPrice | number:6 }}</td>
            <td data-highlighter="prices.cellMonth4">{{  prices.cellMonth4.currentPrice | number:6 }}</td>
        </tr>
        </tbody>
    </table>

    <button type="button" data-ng-click="ctrl.loadData()" class="btn btn-primary">load new data</button>
    <button type="button" data-ng-click="ctrl.changeValue()" class="btn btn-default">change single value</button>
    <button type="button" data-ng-click="ctrl.revert()" class="btn btn-default">revert to initial</button>


    <!-- Modal -->
    <!--<div id="myModal" class="modal fade" role="dialog">-->
        <!--<div class="modal-dialog">-->

            <!--&lt;!&ndash; Modal content&ndash;&gt;-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<h4 class="modal-title">Lost Connection</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<p>Connection lost.  Attempting reconnection...</p>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
</div>

<script type="text/javascript">
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
    })

    // Connect to websocket after page is loaded
//    jQuery(document).ready(function () {
//        createWebSocket();
//    });
</script>
</body>
</html>
