<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8"/>
    <title>MarketDataServer</title>


    <link rel="stylesheet" href="css/external/bootstrap-3.3.4.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/external/wijmo/wijmo.css"/>
    <link href="css/app-wijmo.css" rel="stylesheet" type="text/css"/>


    <script src="js/external/angular-1.4.2.min.js"></script>
    <script src="js/external/angular-resource-1.4.2.min.js"></script>
    <script src="js/external/jquery-2.1.4.min.js"></script>
    <!--<script src="js/external/bootstrap-3.3.4.min.js"></script>-->
    <script src="js/external/wijmo/wijmo.min.js"></script>
    <script src="js/external/wijmo/wijmo.grid.min.js"></script>
    <script src="js/external/wijmo/wijmo.input.min.js"></script>
    <script src="js/external/wijmo/wijmo.angular.min.js"></script>

    <script src="js/app-wijmo.js"></script>
    <script src="js/app-wijmo-services.js"></script>
    <script src="js/app-wijmo-bsdropdown-directive.js"></script>

</head>

<body ng-app="app-wijmo" ng-controller="appCtrl2 as payupDashboardCtrl">
<h1>Filter</h1>

<div style="margin-bottom: 20px;"></div>
    <div>
        <!--<div style="float: left; margin-right: 5px;">-->
            <!--<bs-dropdown data-menu-type="button" select-val="payupDashboardCtrl.selectedProductGroup = selectedVal"-->
                         <!--preselected-item="payupDashboardCtrl.selectedProductGroup"-->
                         <!--data-dropdown-data="payupDashboardCtrl.viewableProductGroups"></bs-dropdown>-->
        <!--</div>-->

        <!--<div style="float: left; margin-right: 5px;">-->
            <!--<bs-dropdown data-menu-type="button" select-val="payupDashboardCtrl.selectedCouponMaximum = selectedVal"-->
                         <!--preselected-item="payupDashboardCtrl.selectedCouponMaximum" data-dropdown-data="payupDashboardCtrl.couponMaximums"></bs-dropdown>-->
        <!--</div>-->
        <!--<div style="float: left; margin-right: 5px;">-->
            <!--<bs-dropdown data-menu-type="button" select-val="payupDashboardCtrl.selectedCouponMinimum = selectedVal"-->
                         <!--preselected-item="payupDashboardCtrl.selectedCouponMinimum" data-dropdown-data="payupDashboardCtrl.couponMinimums"></bs-dropdown>-->
        <!--</div>-->
    </div>
    <div>
        <div style="clear:both; margin-bottom: 20px;"></div>

        <div>
            <p>Using the menu as a value picker:</p>
            <wj-menu header="Min Coupon" value="couponmin">
            <!--<wj-menu header="Min Coupon" value="payupDashboardCtrl.selectedCouponMinimum"> -->
                <!-- item-clicked="countrySelected(s, e)" -->


                <!--<wj-menu-item ng-repeat="c in couponlisted">{{c}}</wj-menu-item>-->
                <wj-menu-item ng-repeat="c in payupDashboardCtrl.couponMinimums">{{c.name}}</wj-menu-item>

                <!--<wj-menu-item value="1.0">1.0</wj-menu-item>-->
                <!--<wj-menu-item value="1.5">1.5</wj-menu-item>-->
                <!--<wj-menu-item value="2.0">2.0</wj-menu-item>-->
                <!--<wj-menu-item value="2.5">2.5</wj-menu-item>-->
                <!--<wj-menu-item value="3.0">3.0</wj-menu-item>-->
                <!--<wj-menu-item value="3.5">3.5</wj-menu-item>-->
                <!--<wj-menu-item value="4.0">4.0</wj-menu-item>-->
            </wj-menu>
        </div>
        <div>
            <p>Using the menu as a value picker2:</p>
            <wj-menu header="Min Coupon" value="couponmin2">
                <!--<wj-menu header="Min Coupon" value="payupDashboardCtrl.selectedCouponMinimum"> -->
                <!-- item-clicked="countrySelected(s, e)" -->


                <wj-menu-item ng-repeat="c in couponminscope2">{{c.name}}</wj-menu-item>
                <!--<wj-menu-item ng-repeat="c in payupDashboardCtrl.couponMinimums">{{c.name}}</wj-menu-item>-->

                <!--<wj-menu-item value="1.0">1.0</wj-menu-item>-->
                <!--<wj-menu-item value="1.5">1.5</wj-menu-item>-->
                <!--<wj-menu-item value="2.0">2.0</wj-menu-item>-->
                <!--<wj-menu-item value="2.5">2.5</wj-menu-item>-->
                <!--<wj-menu-item value="3.0">3.0</wj-menu-item>-->
                <!--<wj-menu-item value="3.5">3.5</wj-menu-item>-->
                <!--<wj-menu-item value="4.0">4.0</wj-menu-item>-->
            </wj-menu>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Market View</button>
            <button type="button" class="btn btn-default">Cash View</button>
            <button type="button" class="btn btn-default">Guarantor View</button>
        </div>
        <div>
            <wj-flex-grid items-source="data" auto-generate-columns="false" headers-visibility="Column" is-read-only="true" allowSorting="false">
                <wj-flex-grid-column ng-repeat="col in payupGridColumnDefinition" header="{{col.header}}"
                                     binding="{{col.binding}}">
                </wj-flex-grid-column>
            </wj-flex-grid>
        </div>
        <div>
            <p>Selected Product Group : {{payupDashboardCtrl.selectedProductGroup}}</p>

            <p>Selected selectedCouponMaximum : {{payupDashboardCtrl.selectedCouponMaximum}}</p>

            <p>Selected selectedCouponMinimum : {{payupDashboardCtrl.selectedCouponMinimum}}</p>

            <p>Server response: {{payupDashboardCtrl.appName}}</p>
        </div>

        <div>
            <!--<button ng-disabled="{{isDisabled}}" ng-click="refreshDataClick()">Refresh Data</button>-->
            <button ng-click="refreshDataClick()">Refresh Data</button>
        </div>
        <div >
            <select ng-model="payupDashboardCtrl.selectedTestAccount" ng-options="item.id as item.name for item in payupDashboardCtrl.testAccounts" ng-change="updateMinCoupon()" >
            </select>
        </div>
        <div >
            <p>SelectedItem: {{payupDashboardCtrl.selectedTestAccount}}</p>
        </div>

        <!--<div class="btn-group">-->
            <!--<button class="btn button-label btn-primary">{{payupDashboardCtrl.selectedCouponMinimum}}</button>-->
            <!--<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>-->
        <!--</div>-->
    </div>
</body>
</html>