<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>20115875</title>

    <script src="resources/js/websocketconnection-a.js"   ></script>


    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" data-semver="1.3.15"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="js/app.js"></script>

</head>

<body >

<div data-ng-controller="AppCtrl as ctrl" class="container" id="MainWrap">
    <div class="page-header">
        <h3>Angular js - Highlight dom when value changes</h3>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Month 1</th>
            <th>Month 2</th>
            <th>Month 3</th>
            <th>Month 4</th>
        </tr>
        </thead>

        <tbody>
        <tr data-ng-repeat="prices in ctrl.productGrid track by $index">
            <td data-highlighter="prices.month1">{{ prices.month1 }}</td>
            <td data-highlighter="prices.month2">{{ prices.month2 }}</td>
            <td data-highlighter="prices.month3">{{ prices.month3 }}</td>
            <td data-highlighter="prices.month4">{{ prices.month4 }}</td>
        </tr>
        </tbody>
    </table>

    <button type="button" data-ng-click="ctrl.loadData()" class="btn btn-primary">load new data</button>
    <button type="button" data-ng-click="ctrl.changeValue()" class="btn btn-default">change single value</button>
    <button type="button" data-ng-click="ctrl.revert()" class="btn btn-default">revert to initial</button>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Lost Connection</h4>
                </div>
                <div class="modal-body">
                    <p>Connection lost.  Attempting reconnection...</p>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
    })

    // Connect to websocket after page is loaded
    jQuery(document).ready(function () {
    createWebSocket();
    });
</script>
</body>
</html>
