<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8"/>
    <title>MarketDataServer</title>

    <link rel="stylesheet" href="css/external/bootstrap-3.3.4.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/external/wijmo/wijmo.css"/>
    <link href="css/payup-poc.css" rel="stylesheet" type="text/css"/>
</head>

<body ng-app="app-wijmo" >
    <div ng-controller="appCtrl" style="margin: 10px;">
        <div>

            <div style="float: left; margin-right: 5px; ">
                <fm-filter-dropdown dropdown-width="120px" dropdown-label="Product"
                                    dropdown-list="productGroupList" dropdown-selected="productGroupSelected"></fm-filter-dropdown>
            </div>

            <div style="float: left; margin-right: 5px;">
                <fm-filter-dropdown dropdown-width="75px" dropdown-label="Min Coupon"
                                    dropdown-list="couponList" dropdown-selected="couponListMinSelected"></fm-filter-dropdown>
            </div>

            <div style="float: left; margin-right: 5px;">
                <fm-filter-dropdown dropdown-width="75px" dropdown-label="Max Coupon"
                                     dropdown-list="couponList" dropdown-selected="couponListMaxSelected"></fm-filter-dropdown>
            </div>

            <div style="float: left; margin-right: 5px;">
                <button ng-click="refreshDataClick()">Refresh Data</button>
            </div>

        </div>
        <div style="clear:both; margin-bottom: 15px;"></div>

        <div>
            <wj-flex-grid items-source="payupGridData" auto-generate-columns="false" headers-visibility="Column"
                          is-read-only="true" allowSorting="false">
                <wj-flex-grid-column ng-repeat="col in payupGridColumnsDefinition" header="{{col.header}}"
                                     binding="{{col.binding}}">
                </wj-flex-grid-column>
            </wj-flex-grid>
        </div>
        <div>
            <p>Selected product Group: {{productGroupSelected}}</p>
            <p>Selected min item: {{couponListMinSelected}}</p>
            <p>Selected max item: {{couponListMaxSelected}}</p>
        </div>
    </div>

    <!--<div class="btn-group">-->
    <!--<button class="btn button-label btn-primary">{{payupDashboardCtrl.selectedCouponMinimum}}</button>-->
    <!--<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>-->
    <!--</div>-->

    <script src="js/external/jquery-2.1.4.min.js"></script>
    <script src="js/external/angular-1.4.2.min.js"></script>
    <script src="js/external/angular-resource-1.4.2.min.js"></script>

    <!--<script src="js/external/bootstrap-3.3.4.min.js"></script>-->
    <script src="js/external/wijmo/wijmo.min.js"></script>
    <script src="js/external/wijmo/wijmo.grid.min.js"></script>
    <script src="js/external/wijmo/wijmo.input.min.js"></script>
    <script src="js/external/wijmo/wijmo.angular.min.js"></script>

    <script src="js/app-payup-poc.js"></script>
    <script src="js/payup-poc-data-service.js"></script>
    <script src="js/payup-poc-filter-controller.js"></script>
    <script src="js/payup-poc-fm-filter-dropdown-directive.js" ></script>


</body>
</html>