<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8"/>
    <title>Wijmo FlexGrid Payup POC</title>

    <link rel="stylesheet" href="css/external/bootstrap-3.3.4.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/external/wijmo/wijmo.css"/>
    <link href="css/payup-poc.css" rel="stylesheet" type="text/css"/>
</head>

<body ng-app="appPayupPoc" >
    <div ng-controller="appCtrl" style="margin: 10px;">
        <div>
            <div style="float: left; margin-right: 5px; ">
                <fm-filter-dropdown dropdown-width="120px" dropdown-label="Product"
                                    dropdown-list="productGroupList" dropdown-selected="productGroupSelected"></fm-filter-dropdown>
            </div>

            <div style="float: left; margin-right: 5px;">
                <fm-filter-dropdown dropdown-width="75px" dropdown-label="Min Coupon"
                                    dropdown-list="couponList" dropdown-selected="couponListMinSelected"></fm-filter-dropdown>
            </div>

            <div style="float: left; margin-right: 5px;">
                <fm-filter-dropdown dropdown-width="75px" dropdown-label="Max Coupon"
                                     dropdown-list="couponList" dropdown-selected="couponListMaxSelected"></fm-filter-dropdown>
            </div>

            <div style="float: left; margin-right: 5px;">
                <button fm-blur-me class="btn btn-default btn-sm" ng-click="refreshDataClick()">Refresh Data</button>
            </div>

        </div>
        <div style="clear:both; margin-bottom: 15px;"></div>


        <div fm-button-group
             model="myModel"
             options="rangeOptions">
        </div>
        <div>
            <wj-flex-grid items-source="payupGridData" auto-generate-columns="false" headers-visibility="Column"
                          is-read-only="true" allowSorting="false">
                <wj-flex-grid-column ng-repeat="col in payupGridColumnsDefinition" header="{{col.header}}"
                                     binding="{{col.binding}}">
                </wj-flex-grid-column>
            </wj-flex-grid>
        </div>
        <div>
            <p>Selected product Group: {{productGroupSelected}}</p>
            <p>Selected min item: {{couponListMinSelected}}</p>
            <p>Selected max item: {{couponListMaxSelected}}</p>
        </div>
    </div>

    <script src="js/vendor/jquery-2.1.4.min.js"></script>
    <script src="js/vendor/angular-1.4.2.min.js"></script>
    <script src="js/vendor/angular-resource-1.4.2.min.js"></script>

    <script src="js/vendor/bootstrap-3.3.4.min.js"></script>
    <script src="js/vendor/wijmo/wijmo.min.js"></script>
    <script src="js/vendor/wijmo/wijmo.grid.min.js"></script>
    <script src="js/vendor/wijmo/wijmo.input.min.js"></script>
    <script src="js/vendor/wijmo/wijmo.angular.min.js"></script>

    <script src="js/app/app-payup-poc.js"></script>
    <script src="js/app/common/payup-poc-data-service.js"></script>
    <script src="js/app/payup-poc/payup-poc-controller.js"></script>
    <script src="js/app/payup-poc/payup-poc-fm-filter-dropdown-directive.js" ></script>
    <script src="js/app/payup-poc/payup-poc-fm-group-button-directive.js" ></script>
    <script src="js/app/common/payup-poc-blur-me-directive.js" ></script>

<!--<script text="">-->
    <!--$('body').on('click', '.btn-group button', function (e) {-->
        <!--$(this).addClass('active');-->
        <!--$(this).siblings().removeClass('active');-->

        <!--//do any other button related things-->
    <!--});-->
<!--</script>-->

</body>
</html>